<!DOCTYPE html>

<html>
	<head>
		<meta charset = "utf-8"/>
		<link rel="stylesheet" href="/static/styles/doom.css" />
		<title> C3PO </title>
	</head>

	<body>
        <script type="text/javascript" src="/static/js/index.js"></script>
                     
        <section class = "message">
            <h1>Bad news, the millenium falcon cannot reach Endor and destroy the Death Star.</h1>
        </section>

        <nav>
            <ul>
                <li> a path list
                    <a href = "/"> Submit a new file</a>
                </li>
            </ul>
        </nav>
    </body>
</html>