<!DOCTYPE html>

<html>
	<head>
		<meta charset = "utf-8"/>
		<link rel="stylesheet" href="/static/styles/wrong_file.css" />
		<title> C3PO </title>
	</head>

	<body>
        <script type="text/javascript" src="/static/js/index.js"></script>
         <section class = "title">
             <h2>Please, submit a file named empire.json</h2>
        </section> 

        <nav>
            <ul>
                <li>
                    <a href = "/"> Submit a new file</a>
                </li>
            </ul>
        </nav>               
    </body>
</html>